<div class="map-container">
  <div class="header"><div>Montreal Safety</div></div>
  <div class="map-frame">
    <div id="ctrl">
      <div id="subheader">Options</div>
      <div id="flex">
        <div class="input">
          <h2>Catégories</h2>
          <div class="checkboxes">
            <mat-button-toggle (change)="fetchInfos" class="category" [checked]="this.volVehicule"><img src="../../../assets/leaf-green.png" height="30px" />  Vol de véhicule</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="category" [checked]="this.volViolent"><img src="../../../assets/leaf-green.png" height="30px" />  Vol violent</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="category" [checked]="this.meurtre"><img src="../../../assets/leaf-green.png" height="30px" />  Infraction fatale</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="category" [checked]="this.introduction"><img src="../../../assets/leaf-green.png" height="30px" />  Introduction</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="category" [checked]="this.mefait"><img src="../../../assets/leaf-green.png" height="30px" />  Méfait</mat-button-toggle>
          </div>
        </div>
        <div class="input">
          <h2>Moments de la journée</h2>
          <div class="quarts">
            <mat-button-toggle (change)="fetchInfos" class="quart" [checked]="this.jour">Jour</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="quart" [checked]="this.soir">Soir</mat-button-toggle>
            <mat-button-toggle (change)="fetchInfos" class="quart" [checked]="this.nuit">Nuit</mat-button-toggle>
          </div>
        </div>
        <div class="input">
          <h2>Dates</h2>
          <mat-slider color="accent" [min]="0" [max]="2953" discrete [displayWith]="getDayFromNumber">
            <input (input)="fetchInfos" matSliderStartThumb [(ngModel)]="this.min">
            <input (input)="fetchInfos" matSliderEndThumb [(ngModel)]="this.max">
          </mat-slider>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
